
@import '~animations/index.scss';


$color-light: #f4f5f5;
body {
  margin: 0;

  @media screen and (max-width: 500px){
    font-size: 40px;
  }

  @media screen and (min-width: 500px) and (max-width: 1280px){
    font-size: 80px;
  } 
  
  @media screen and (min-width: 1280px){
    font-size: 120px;
  }
}

.main {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  background-color: $color-light;

  &__title {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
  }

  &__controller {
    position: fixed;
    right: 12px;
    bottom: 12px;
  }

  &__time {
    font-size: 20px;
    line-height: 50px;
    margin-right: 12px;
  }

  &__icon-start {
    display: inline-block;
  }

  &__icon-next {
    margin-left: 12px;
    transform: rotate(-90deg);
  }

  &__loading-icon {
    animation: loading-rotate .8s linear infinite;
  }

  &__btn {
    float: right;

    &--ini {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 100px);

      svg {
        width: 70px !important; 
        height: 70px !important;
      }

      .app__icon-next {
        margin-left: 32px;
      }
    }

    svg {
      cursor: pointer;
      width: 50px;
      height: 50px;
    }
  }

  &--dark {
    background-color: #000;
    color: $color-light;

    svg {
      fill: $color-light;
    }
  }
}

@keyframes loading-rotate {
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}